@{
  Layout = "_Layout";
}

@using BakeryVendorTracker.Models;

@if (@Model.Count == 0)
{
  <h3>No Vendors Have Been Add To This List</h3>
}
<h2>Vendor List</h2>
@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.VendorId'>@vendor.VendorName @vendor.VendorDescription</a></h3>
}

<p><a href='/'>Back home</a></p>