@{
  Layout = "_Layout";
}

@using BakeryVendorTracker.Models

<h3>Orders</h3>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderTitle</a></li>
  }
</ol>

<button><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add New Order</a></button>
<button><a href='/vendors'>Return to Vendor List</a></button>
<button><a href='/'>Return to Home Page</a></button>