@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Bakery Orders!</h1>
<h5>Internal Order Ledger<h5>
<button><a href='/vendors'>View Vendors</a></button>
<button><a href='/vendors/new'>Add a new Vendor to start purchasing from.</a></button>