@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Bakery Orders!</h1>
<hr/>
<h5>Internal Order Ledger<h5>
<button><a href='/Vendors'>View Vendors</a></button>
<button><a href='/Vendors/new'>Add a new Vendor to start purchasing from.</a></button>