@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Bakery Orders!</h1>
<h5>Internal Order Ledger<h5>
<h3><a href='/vendors'>View Vendors</a></h3>
<h3><a href='/vendors/new'>Add a new Vendor to start purchasing from.</a></h3>